{% extends 'base.html.twig' %}

{% block title %}Edit ScanPlan{% endblock %}

{% block body %}
    <h1>Edit ScanPlan</h1>

    {{ include('scan_plan_admin/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('scan_plan_admin_index') }}">back to list</a>

    {{ include('scan_plan_admin/_delete_form.html.twig') }}
{% endblock %}
