<form method="post" action="{{ path('parcel_admin_delete', {'id': parcel.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ parcel.id) }}">
    <button class="btn btn-danger btn-block">{{ "Delete"|trans }}</button>
</form>
