$textColorPrimary: #1a1a1a;
$outerBodyColor: #ffffff;
$textColorSecondary: #53585f;

$primaryButtonTextColor: #fff;

$textareaBackgroundColorUnfocused: #f7f7f7;
$textareaBackgroundColorFocused: #fff;

$nies_blue: #048cfe;
$nies_peach: #ffeedf;
$nies_darkgray: #53585f;

$widgetBackgroundColor: $nies_peach;
$linkDefaultColor: $nies_blue;
$neuterBackgroundColor: #d1d1d1;
$inputFocusedBackgroundColor: $nies_blue;
$markBackgroundColor: $inputFocusedBackgroundColor;
$siteBackgroundColor: #fff;
$nearSiteBackgroundColor: #f1f1f1;
$logoDarkColor: #231f20;

$loginFormBackgroundColor: rgba(168,215,209,0.99);
$loginFormBorderColor: rgba(110, 61, 3, 0.9);

$formBackground: rgba(248, 249, 250, 0.8);
