@import 'colors';
@import '~bootstrap/scss/bootstrap';
@import "~select2/src/scss/core";
@import "~select2/src/scss/theme/classic/layout";
@import '~@ttskch/select2-bootstrap4-theme/src/select2-bootstrap4.scss';
@import '~tablesorter/dist/css/theme.bootstrap_4.min.css';

$brand-primary: $nies_blue;

html, body {
  min-height: 100vh;
}

body {

}

.main_content {
  padding: 0.5em;
  overflow: hidden;
}

.formSigninContainer {
  display: flex;
  justify-content: center;
  min-height: 90vh;
}

.formSigninInContainer {
  background-color: $loginFormBackgroundColor;
  flex-grow: 0.06;
  align-self: center;
  padding: 1em;
  border-radius: 1em;
  border: 1px solid $loginFormBorderColor;
  box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.8);

  .dvhdr {
    font-size: 28px;
    text-align: center;
    color: #efe;
    text-shadow: 1px 1px 2px #000, 0 0 25px #000, 0 0 5px #000;
    padding-bottom: 0.25em;
  }
}

.form-signin-heading {
  color: rgba(33, 37, 41, 0.5);
}

.top_row {
  background-color: #aaa;
}

.session_info {
  text-align: right;
}

.logeduser {
  font-weight: bold;
  text-shadow: 2px 2px 1px #ff8;
}

.navbar-nav {
  padding-right: 5em;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: rgba(0, 0, 0, 0.7);
  background: rgba(255, 106, 0, 0.5);
  border-radius: 0.5em;
}

.nobr {
  white-space: nowrap;
}

.author {
  font-size: 130%;
}

div.miniseparator {
  height: 1px;
  margin-top: 1px;
  margin-bottom: 1px;
  background: #777;
  width: 100%;
}

/* AuditorBudnle BEGIN */
.timeline-centered {
  position: relative;
  margin-bottom: 30px;
  font-size: 0.9rem;
  clear: both;
}

.timeline-centered:before, .timeline-centered:after {
  content: " ";
  display: table;
}

.timeline-centered:after {
  clear: both;
}

.timeline-centered:before, .timeline-centered:after {
  content: " ";
  display: table;
}

.timeline-centered:after {
  clear: both;
}

.timeline-centered:before {
  content: '';
  position: absolute;
  display: block;
  width: 4px;
  background: #f5f5f6;
  left: 10%;
  top: 20px;
  bottom: 20px;
  margin-left: -4px;
}

.timeline-centered .timeline-entry {
  position: relative;
  width: 90%;
  float: right;
  margin-bottom: 15px;
  clear: both;
}

.timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after {
  content: " ";
  display: table;
}

.timeline-centered .timeline-entry:after {
  clear: both;
}

.timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after {
  content: " ";
  display: table;
}

.timeline-centered .timeline-entry:after {
  clear: both;
}

.timeline-centered .timeline-entry.begin {
  margin-bottom: 0;
}

.timeline-centered .timeline-entry .timeline-entry-inner {
  position: relative;
  margin-left: -22px;
}

.timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
  content: " ";
  display: table;
}

.timeline-centered .timeline-entry .timeline-entry-inner:after {
  clear: both;
}

.timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
  content: " ";
  display: table;
}

.timeline-centered .timeline-entry .timeline-entry-inner:after {
  clear: both;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time {
  position: absolute;
  left: -150px;
  text-align: right;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span {
  display: block;
  max-width: 130px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:first-child {
  font-size: 15px;
  font-weight: bold;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:last-child {
  font-size: 12px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
  background: #fff;
  color: #737881;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-align: center;
  -moz-box-shadow: 0 0 0 5px #f5f5f6;
  -webkit-box-shadow: 0 0 0 5px #f5f5f6;
  box-shadow: 0 0 0 5px #f5f5f6;
  line-height: 40px;
  font-size: 15px;
  float: left;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-primary {
  background-color: #303641;
  color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-secondary {
  background-color: #ee4749;
  color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-success {
  background-color: #00a651;
  color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-info {
  background-color: #21a9e1;
  color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-warning {
  background-color: #fad839;
  color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-danger {
  background-color: #cc2424;
  color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
  position: relative;
  background: #f5f5f6;
  padding: 15px 30px;
  margin-left: 60px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 9px 9px 0;
  border-color: transparent #f5f5f6 transparent transparent;
  left: 0;
  top: 12px;
  margin-left: -9px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2, .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p {
  color: #737881;
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
  margin: 0;
  line-height: 1.428571429;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p + p {
  margin-top: 15px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 {
  font-size: 16px;
  margin-bottom: 10px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 a {
  color: #e83e8c;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label span.badge {
  font-size: 90%;
}

a.transaction-hash {
  padding: .4rem !important;
}

table.layout-fixed {
  table-layout: fixed;
}

/* AuditorBudnle END */

#template_form {
  background-color: #aaa;
  display: none;
}

.letter_row {
  border-bottom: 1px solid #888;
}

label.required:before {
  content: "* ";
  color: #aaa;
}

label.noreq.required:before {
  content: "";
}

div.statusDiv {
  font-size: 75%;
  vertical-align: center;
}