{# templates/emails/registration.html.twig #}
<div style="background-color: #eee; padding: 1em; margin-top: 1em;">
    <p style="font-size: 1px;color: #eee;">--</p>
    <p>{{ application_name }}<br>
        <a href="{{ url('home') }}">{{ url('home') }}</a>
    </p>
    <p>
        {{ "The message was generated automatically, please do not reply to it."|trans }}
    </p>
</div>
