{# templates/emails/registration.html.twig #}
<h1>{{ "PasswordResetRequestForNewAccountTitle"|trans }}</h1>

<a href="{{ uri }}">{{ "ClickToSetNewPasswordForNewAccountLinkTitle"|trans }}</a>
<span style="font-size: 1px; opacity: 1%; color: #fff; background: #fff">{{ uri }}</span>
<br>




{% include 'emails/mail_footer.html.twig' %}
